/* Importing the essential layers of Tailwind CSS to enable its utility-first classes */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styling the body element with a specific font and color scheme */
body {
  font-family: 'Inter', sans-serif;
  background-color: #1a202c;
  color: #fff;
}

/* Adding a smooth transition effect to the dot within toggle switches */
.dot {
  transition: transform 0.2s ease-in-out;
}

/* Ensuring the text within the toggle switch moves appropriately when the state changes */
#toggle-switch:checked+div span {
  transform: translateX(1.25rem);
}

/* Custom class for hiding scrollbars across all web browsers */
.no-scrollbar::-webkit-scrollbar {
  display: none;
  /* Targets WebKit-based browsers like Chrome, Safari, and Opera to hide scrollbars */
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* Targets IE and Edge browsers to prevent scrollbars */
  scrollbar-width: none;
  /* Ensures scrollbars are not visible in Firefox */
}